.forecast-details {
  text-align: center;
}

.forecast-details__date {
  margin: 30px 0 10px;
}

.forecast-details__detail {
  padding: 0 0 10px;
}

.forecast-details__detail-label {
  margin: 0 5px 0 0;
  font-weight: bold;
}
