.forecast-summary--selected {
  font-weight: bold;
}

.forecast-summary__icon {
  font-size: 60px;
  padding: 10px 0;
}

.forecast-summary__button {
  background-color: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  text-decoration: underline;
}
